<div class="navbar">
  <img src="/images/logo.png">
</div>
<div class="container">
  <div class="loginCenter">
    <div class="textLogin">
      <p><h2>Welcome back.</h2><br>

Sign in to access your personalized homepage,
follow authors and topics you love, and clap for stories that matter to you.
    </div>
    <div class="loginButtons">
      <div class="loginMedium inline-block col40">
        <p> Becoming a UX Developer? </b>
        <div class="btn btn-medium">
          <a href="/auth/medium"><i class="fa fa-medium" aria-hidden="true"></i>Login with Medium</a>
        </div>
      </div>
      <div class="loginGithub inline-block col40">
        <p> Becoming a Web Developer? </b>
        <div class="btn btn-github">
          <a href="/auth/github"><i class="fa fa-github" aria-hidden="true"></i> Login with GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
