<div class="navbar">
  <p>Go to ironHack</p>
</div>
<div class="container">
  <div class="loginCenter">
    <div class="textLogin">
      <p>Welcome back.

Sign in to access your personalized homepage,
follow authors and topics you love, and clap for stories that matter to you.
    </div>
    <div class="loginMedium">
      <p> Becoming a UX Developer? </b>
      <div class="btn btn-medium">
        <a href="#URLLoginMedium"><i class="fa fa-medium" aria-hidden="true"></i>Login with Medium</a>
      </div>
    </div>
    <div class="separation"></div>
    <div class="loginGithub">
      <p> Becoming a Web Developer? </b>
      <div class="btn btn-github">
        <a href="#URLLoginGithub"><i class="fa fa-github" aria-hidden="true"></i> Login with GitHub</a>
      </div>
    </div>
  </div>
</div>
