<div class="navbar">
  <img src="/images/logo.png">
</div>
<div>
  <p>User: <%= name %></p>
  <img src="<%= avatar %>" alt="user avatar">
  <a href="/user/edit/<%= user._id %>"><%= name %></a>
</div>
<div>
  <ul>
    <% questions.forEach(question => {

    <% }); %>
  </ul>
</div>
