<div class="navbar">
  <a href="/forum"><img src="/images/logo.png"></a>
  <form action="/forum/<%=results.id%>/edit" method="post">
    <div class="newStoryNav">
      <button>Save Changes</button>
      <a href="/forum/<%=results.id%>/show">Back to the post</a>
    </div>
</div>
<textarea class="editable2 medium-editor-textarea" name="myTitle">
  <%-results.title%>
</textarea>
<textarea class="editable medium-editor-textarea" name="myPost">
  <%-results.content%>
</textarea>
</form>
