<div class="navbar">
  <a href="/forum"><img src="/images/logo.png"></a>
  <form action="/forum/new" method="post">
  <div class="newStoryNav">
    <button>Send</button>
    <a href="/forum/">Cancel post</a>
  </div>
</div>
<p><%= user %></p>
<textarea class="editable2 medium-editor-textarea" name="myTitle"><h2><b>TITLE</b></h2></textarea>
<textarea class="editable medium-editor-textarea" name="myPost"></textarea>

</form>
