<div class="navbar">
  <img src="/images/logo.png">
  <form action="/forum/new" method="post">
  <div class="newStoryNav">
    <button>Send</button>
    <a href="/forum/">Cancel post</a>
  </div>
</div>
<textarea class="editable medium-editor-textarea" name="myPost"></textarea>

</form>
