body {
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

  .navbar {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      border-bottom: 1px solid black;
      margin-bottom: 5px;
      margin-top: 7px;
  }

  .navbar > p {
      margin: 0;
      margin-top: 5px;
  }

  .navbar > img {
    padding: 8px;
  }

  .separation {
    border: 0.5px solid #efefef;
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .loginCenter {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      font-family: sans-serif;
      font-weight: 100;
      color: gray;
      border: 0.5px solid #b2b2b26b;
      border-radius: 4px;
      padding: 20px;
      margin-top: 20px;
      box-shadow: 1px 1px 20px 0px rgba(65, 65, 65, 0.13)
  }

  .loginMedium {
      border-right: 1px solid #a9a9a94f;
  }

  .loginButtons {
    margin-top: 15px;
  }

  .btn {
      border: 1px solid gray;
      width: 70%;
      margin: 0 auto;
      border-radius: 5px;
      padding: 7px;
      background: white;
      line-height: 21px;
      z-index: 0;
  }

  .btn-medium > a{
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: 14px;
  }

  .btn-slack a {
      color: grey;
  }

  i.fa.fa-slack{
    color: gray;
    margin-right: 15px;
  }

  .btn-github {
      background: #414141;
  }

  .btn-github > a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: 14px;
  }

  i.fa.fa-github{
    margin-right: 15px;
    font-size: 16px;
  }

  .inline-block{
    display: inline-block;
  }

  .col40{
    width: 48%;
  }

  .tagsNav >li{
    display: inline;
    margin-right: 20px;
    font-family: sans-serif;
    font-weight: 100;
  }

  .tagsNav {
      padding: 0;
  }

  .buttonLi a {
    background: #333333;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }

  .tagsBar {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .newStoryNav > a {
      text-decoration: none;
      color: black;
      font-family: sans-serif;
      font-weight: 100;
      font-size: 13px;
  }

  .newStoryNav {
      top: 14px;
      position: absolute;
      right: 185px;
  }

.editable, .editable2 {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

.photoForum {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  width: 100%;
  margin: auto;
}

.photoMin{
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.onePost {
  border: 1px solid #e1e1e1;
  flex-basis: 31%;
  margin: 10px;
  min-height: 275px;
}

.allPosts{
  /* On the flex container */
   margin: 0 auto;
   width: 80%;
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

.allUserPosts {
    margin: 0 auto;
    width: 80%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
}

.flex-outer li.buttonLi {
    text-align: center
  }

.titleMin {
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
  min-height: 60px;
  margin-top: 5px;
}

.authorMin {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}

.authorPic{
  width: 100%;
  border-radius: 50%;
}

.pic {
    display: inline-block;
    width: 16%;
}

.authorPost {
  display: inline-block;
  width: 70%;
  margin-left: 15px;
}

div.editable img {
    max-width: 100%;
}

div.editable2 img {
    max-width: 100%;
}

.mainTitleHref {
    text-decoration: none;
    color: #474747;
}

.authorPost a {
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 12px;
}

/* User form */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer, .flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li, .flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer > li {
  margin-bottom: 20px;
}

.flex-outer li label, .flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
}

.flex-outer > li > label, .flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *, .flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input {
  padding: 15px;
  border: none;
}

/*.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  letter-spacing: .09em;
  border-radius: 2px;
  width: 75%;
}*/

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    letter-spacing: .09em;
    border-radius: 2px;
    width: 18%;
    margin-right: 26px;
    border-radius: 5px;
}

.flex-inner li {
  width: 100px;
}

.tagsShow {
    width: 80%;
    margin: 0 auto;
    margin-top: 7px;
    text-align: right;
}

.tagsMain {
    margin-top: 23px;
    border: 1px solid #CCC;
    padding: 3px;
    color: #a6a6a6;
    overflow-y: hidden;
}

.mainTitleHref h2 {
  font-size: 21px;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  margin-top: 17px;
}

i.fa.fa-sign-out{
    color: gray;
    font-size: 20px;
}

i.fa.fa-pencil {
    color: gray;
    font-size: 20px;
}
i.fa.fa-user {
    color: gray;
    font-size: 20px;
}

.fixed-action-btn.horizontal ul{
  right: 50px;
  top: -10px;
   -webkit-transform: none;
 transform: none;
  }

  .smaller {
    width: 33px;
    height: 33px;
}

i.fa.fa-bars{
  color: black;
}

.btn-float-top {
    line-height: 32px !important;
}
.editable2 h2 {
    margin: 0;
}

div.tagsinput input {
    width: 80px;
    /* margin: 0 5px 5px 0; */
    font-family: helvetica;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 5px;
    background: 0 0;
    color: #000;
    outline: 0;
    margin: 0;
    padding: 0;
    height: 25px;
}

.answerInPost {
    width: 50%;
    margin: 0 auto;
    text-align: right;
}

.newAnswer {
  resize: vertical;
  min-height: 76px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 10px;
}

.newAnswer::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: gray;
  font-size: 25px;
  font-weight: 100;
  padding: 10px;
}
.newAnswer:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: gray;
  font-size: 25px;
  font-weight: 100;
  padding: 10px;
}
.newAnswer::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: gray;
  font-size: 25px;
  font-weight: 100;
  padding: 10px;
  opacity: 1;
}
.newAnswer:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray;
  font-size: 25px;
  font-weight: 100;
  padding: 10px;
}
.newAnswer::-ms-input-placeholder { /* Microsoft Edge */
  color: gray;
  font-size: 25px;
  font-weight: 100;
  padding: 10px;
}

.newAnswer::placeholder { /* Most modern browsers support this now. */
  color: gray;
  font-size: 25px;
  font-weight: 100;
  padding: 10px;
}

.sendAnswer {
    background: #008377;
    width: 115px;
    font-size: 13px;
}

.commentadded {
  margin: 0 auto;
  width: 40%;
  color: gray;
  padding: 20px;
  border: 1px solid #f6f6f6;
  border-radius: 20px;
  margin-top: 10px;
}

.miniavatar {
    border-radius: 50%;
    width: 40px;
}

.commentName {
    font-size: 15px;
    font-weight: 100;
}

.removeMyAnswer {
    margin-left: 20px;
    color: red;
    background: none;
    border: none;
}

.publish {
    background: none;
    border: none;
    color: #50bcb7;
}

.newStoryNav a {
    margin-left: 10px;
}

div.tagsinput {
    overflow-y: hidden !important;
}

.publish:hover {
    background: #50bcb7;
    border: none;
    color: white;
}

.fixed-action-btn.horizontal ul {
    height: 45%;
    width: 197px;
}

.avatar {
    width: 65px;
    border-radius: 50%;
    border: 0.6px solid #d5d5d5;
    vertical-align: middle;
}

.secondBar {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.author {
    font-weight: 100;
    margin-left: 15px;
}

.whitecolor{
  color: white;
}

li.buttonLi {
    width: 100%;
    display: inline-block;
}

.new-fetch {
    width: 70%;
    background: #fcfcfc;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    padding: 6px;
    border-radius: 2px;
}

.newPostAdded {
    margin: 0 auto;
    text-align: center;
}

.authorMainProfile {
    width: 20%;
    margin: 0 auto;
    border-radius: 6px;
    padding: 0px;
    text-align: left;
    position: absolute;
    top: 15px;
}

.editProfile {
    margin-left: 15px;
}

.avatarProfile{
  vertical-align: top;
}

.tagsNav > a {
    display: inline;
    margin-right: 20px;
    font-family: sans-serif;
    font-weight: 100;
    color: black;
}

.lihome{
  display: inline;
}

.authorAvatar img {
    width: 37px;
    margin-left: 15px;
}

.editProfile a {
    font-size: 11px;
}

.imgWitha{
  padding: 8px
}

a.retweet {
    border: 1px solid #3aabfc;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background: #3aabfc;
    font-size: 12px;
    margin-left: 10px;
}

a.retweet.mobile{
  display:none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #a3a3a347;
  color: white;
  cursor: pointer;
  width: 52px;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.fixed-action-btn{
  right: 44px;
  top: 14px
}

i.fa.fa-hand-spock-o {
    color: #29ccbd;
}

i.fa.fa-thumbs-o-up {
    color: #16b9aa;
    font-size: 16px;
}

.retweetdiv {
    width: 6%;
}

.button-add-clap {
    border: 1px solid #15b9aa;
    border-radius: 5px;
    background: white !important;
    padding: 2px 10px;
}

.goback a {
    position: absolute;
    top: 48px;
    color: black;
    right: 12%;
}
@media (max-width: 1071px) and (min-width: 768px){
  .onePost{
    height: 287px;
    flex-basis: 30%;
  }
  .authorMainProfile{
    width: 30%;
  }
  .retweetdiv {
    width: 9%;
}
}
@media (max-width: 767px) and (min-width: 424px){
  .navbar a > img {
      padding: 8px;
      width: 100px;
      margin-top: 8px;
      padding-bottom: 2px;
  }

  .textAuthorProfile {
      margin-top: 10px;
  }

  .editProfile {
    display: inline-block;
}
  .tagsNav{
    display:none;
  }

  /*.button-add-clap{
    padding: 3px 8px;
  }*/
  .retweetdiv {
    width: 12%;
  }

  /*i.fa.fa-thumbs-o-up {
    color: #16b9aa;
    font-size: 21px;
  }*/
  .onePost{
    flex-basis: 45%;
  }

  .newStoryNav {
    top: 26px;
    right: 102px;
  }

  .answerInPost {
    width: 60%;
  }
  .commentadded{
    width: 60%;
  }

  .fixed-action-btn{
    right: 33px;
    top: 15px;
  }

  .authorMainProfile {
    width: 30%;
  }

  .menuTopBack {
    position: absolute;
    top: 26px;
    right: 97px;
  }

  .goback a{
    color: black;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #a3a3a347;
    color: white;
    cursor: pointer;
    width: 52px;
    padding: 15px;
    border-radius: 50%;
}

  #myBtn:hover {
      background-color: #555; /* Add a dark-grey background on hover */
  }

  .authorMainProfile{
    width: 100%;
    text-align: center;
    position: static;
    text-align: left;
  }
  .goback a {
    position: absolute;
    top: 40px;
    color: black;
  }

  .navbar{
    text-align: left;
  }

  .newStoryNav{
    right: 75px;
  }
  .editable2 h2{
    font-size: 28px;
  }

  .secondBar{
    width: 80%;
  }
  /*.formaddclap {
    width: 15%;
  }*/
  .authorMain {
    width: 100%;
  }

  /*i.fa.fa-thumbs-o-up {
    color: #16b9aa;
    font-size: 30px;
  }

  .button-add-clap {
    border: 1px solid #15b9aa;
    border-radius: 50%;
    background: white;
    padding: 10px 15px;
    margin-left: 10px;
  }*/

  .onePost{
    height: 316px;
  }

  .titleMin{
    min-height: 90px;
  }
}
@media (max-width: 425px){
  a.retweet.mobile {
      border-radius: 50%;
      padding: 0px 14px;
      text-align: center;
  }
  i.fa.fa-twitter {
      padding: 0px 14px;
      width: 100%;
      text-align: center;
      text-align: left;
      margin-right: 40px;
  }

  .retweetdiv {
    width: 29%;
  }
  .textAuthor{
    width: 75%;
  }
  .photoMin{
    height: 150px;
  }
  .newStoryNav {
    right: 33px;
    top: 23px;
  }
  .onePost {
      border: none;
      flex-basis: 100%;
      margin: 0;
  }
  .allPosts{
    width: 100%;
  }

  .tagsNav li:not(:first-child){
    display: none;
  }

  .tagsNav{
    text-align: center;
  }

  .fixed-action-btn.horizontal ul {
    height: 190px;
    right: -14px;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
  }
  .tagsMain{
    color: #f6f6f6;
    border: none;
    background: #f6f6f6;
    height: 8px;
  }

  .editable, .editable2{
    width: 90%;
  }

  .editable2 h2{
    font-size: 25px;
  }
  .figure{
    margin: 0;
  }

  .secondBar {
    width: 90%;
  }

  .commentadded{
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-bottom: 0;
  }

  .answerInPost {
    width: 90%;
  }

  .sendAnswer{
    width: 100%;
  }

  .removeMyAnswer{
    font-size: 26px;
    padding: 0;
  }

  button.publish.red.whitecolor {
    color: #ba4d4d !important;
    background: white !important;
    border: 1px solid #ba4d4d;
    border-radius: 19px;
    width: 100%;
    height: 30px;
  }

  .figure{
    width: 100%;
    margin: 0;
  }

  .authorAvatar {
    width: 20%;
  }

  .textAuthor{
    vertical-align: top;
    margin-top: 8px;
  }
  a.retweet{
    display: none;
  }
  a.retweet.mobile{
    border-radius: 20px;
    display: inline-block;
    width: 70%;
    text-align: center;
    border: 1px solid #3aabfc;
    padding: 5px;
    color: #3aabfc;
    background: #ffffff;
  }
  #deleteStory{
    width: 90%;
  }
  .delete {
    width: 35%;
    margin-top: 9px;
  }
  .delete form{
    width: 100%;
  }

  .secondBar{
    margin-top: 8px;
  }

  .imgWitha {
    padding: 8px;
    width: 100px;
    margin-top: 8px;
    padding-bottom: 2px;
  }

  .tagsOfPost{
    display: none;
  }

  .authorMainProfile{
    width: 100%;
    text-align: center;
    position: static;
    text-align: left;
  }

  .editProfile {
    display: inline-block;
  }

  .textAuthorProfile {
    margin-top: 8px;
  }

  .swal2-popup .swal2-styled{
    padding: 5px 22px;
    font-size: 14px;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: -13px;
    right: 7px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #a3a3a3;
    cursor: pointer;
    padding: 15px;
    border-radius: 16px;
    border: 1px solid wheat;
  }

  #myBtn:hover {
      background-color: #555; /* Add a dark-grey background on hover */
  }
  .navbar {
    text-align: left;
  }

  .menuTopBack {
    text-align: right;
    width: 57%;
    vertical-align: top;
    margin-top: 17px;
  }

  span.goback a {
      color: black;
  }

  .imgWitha img{
    width: 100px;
    padding: 7px;
  }

  .navbar a > img {
    padding: 8px;
    width: 100px;
    margin-top: 8px;
    padding-bottom: 2px
  }

  .newStoryNavMain {
    right: 33px;
    top: 15px;
  }

  .loginCenter{
    width: 100%;
  }
  .textLogin > h2{
    display: none;
  }

  .container{
    width: 95%;
  }

  .btn-slack,.btn-github{
    width: 85%;
    height: 60px;
  }

  .btn > a{
    font-size: 12px;
  }

  .allUserPosts{
    width: 100%;
  }
}
