body {
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

  .navbar {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      border-bottom: 1px solid black;
  }

  .navbar > p {
      margin: 0;
      margin-top: 5px;
  }

  .navbar > img {
    width: 153px;
    padding: 8px;
  }

  .separation {
    border: 0.5px solid #efefef;
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .loginCenter {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      font-family: sans-serif;
      font-weight: 100;
      color: gray;
      border: 0.5px solid #b2b2b26b;
      border-radius: 4px;
      padding: 20px;
      margin-top: 20px;
      box-shadow: 1px 1px 20px 0px rgba(65, 65, 65, 0.13)
  }

  .loginMedium {
      border-right: 1px solid #a9a9a94f;
  }

  .loginButtons {
    margin-top: 15px;
  }

  .btn {
      border: 1px solid gray;
      width: 70%;
      margin: 0 auto;
      border-radius: 5px;
      padding: 7px;
  }

  .btn-medium > a{
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: 14px;
  }

  i.fa.fa-slack{
    color: gray;
    margin-right: 15px;
  }

  .btn-github {
      background: #414141;
  }

  .btn-github > a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: 14px;
  }

  i.fa.fa-github{
    margin-right: 15px;
    font-size: 16px;
  }

  .inline-block{
    display: inline-block;
  }

  .col40{
    width: 48%;
  }

  .tagsNav >li{
    display: inline;
    margin-right: 10px;
  }

  .tagsNav {
      padding: 0;
  }

  .tagsBar {
    width: 70%;
    margin: 0 auto;
  }
