<div class="navbar">
  <img src="/images/logo.png">
  <div class="newStoryNav">
    <a href="/forum/new">New Story</a>
  </div>
</div>
<div class="tagsBar inline">
  <ul class="tagsNav">
    <li>HOME</li>
    <li>UX</li>
    <li>UI</li>
    <li>Cats</li>
    <li>Technology</li>
    <li>Creativity</li>
    <li>Entrepreneurship</li>
    <li>Self</li>
    <li>Culture</li>
    <li>Digital design</li>
    <li>More</li>
  </ul>
</div>
<div class="posts">

</div>
